In [27]:


categories_list=['Seafood']

import numpy as np
import pandas as pd
import requests

list_dicts=[]

for category in categories_list: #precorrer lista de categorias

    #print(category)

    url = "http://www.themealdb.com/api/json/v1/1/filter.php"  
    response = requests.get(url, params={'c':category})
    #print(response.status_code)


    id_list=list(pd.DataFrame.from_dict(response.json()['meals'])['idMeal'])  #lista de ids dentro desta categoria

    for idM in id_list[:50]: #percorrer lista de ids

        #print(idM)

        url='http://www.themealdb.com/api/json/v1/1/lookup.php'
        response = requests.get(url, params={'i':idM})
        #print(response.status_code)

        dict=response.json()['meals'][0] #dicionario desta meal
        dict['ings'] = [dict[k] for k in list(dict.keys())[9:29] if dict[k]] #acrescenta key-value dos ingredientes
        dict['meas'] = [dict[k] for k in list(dict.keys())[29:49] if dict[k]] #acrescenta key-value das measurements

        list_dicts.append(dict)


tabela=pd.DataFrame(list_dicts)
tabela1=tabela.drop(tabela.columns[9:49], axis=1).drop(['strDrinkAlternate','strSource','strImageSource','strCreativeCommonsConfirmed','dateModified'], axis=1)


tabela2=tabela1[['idMeal','strMeal','ings']]

In [41]:
 tabela2['ings'][8]

['Salmon', 'Olive oil', 'Soy Sauce', 'Sake', 'Sesame Seed']

In [1]:
chicken_alfredo = {'id':52796,
                    'ings': [465, 728, 731, 86, 182, 461, 287, 56, 382, 155, 121]}

In [2]:
tandoori_chicken = {'id':52806,
                    'ings': [727,460, 531, 208, 88, 501, 85]}

In [3]:
thai_green_curry = {'id':52814,
                    'ings': [597, 86, 209, 727, 531, 287, 389]}

In [4]:
piri_piri_chicken_and_slaw = {'id':53039,
                            'ings': [535, 460, 306, 372, 723, 85, 177, 708]}

In [5]:
chicken_marengo = {'id': 52920,
                    'ings': [373, 511, 290, 113, 210 ]}

In [6]:
chicken_couscous = {'id': 52850,
                    'ings': [242, 88, 351, 340, 601, 635, 737]}

In [7]:
ratatouille = {'id': 52908,
                'ings':[720, 731, 81, 709, 713]}

In [8]:
spinach_ricotta_canneloni = {'id': 52849,
                            'ings': [462, 420, 121, 51, 709, 308, 81, 373, 731]}

In [9]:
tahini_lentils = {'id': 52869,
                'ings': [727, 713, 720, 322, 323, 389]}

In [10]:
vegetarian_cassarole = {'id': 52863,
                        'ings':[323, 709, 708, 715, 731, 713, 115, 89] }

In [11]:
vegetarian_chilli = {'id': 52867,
                    'ings': [747, 34, 87, 709, ]}

In [12]:
salmon_avocado_salad = {'id': 52960,
                        'ings': [17, 711, 720, 727, 109, 724]}

In [13]:
grilled_portuguese_sardines = {'id': 53041,
                            'ings': [66, 67, 460, 727, 85, 373, 339]}

In [14]:
kung_pow_prawn = {'id': 52946,
                'ings': [19, 421, 444, 316, 414, 34, 35]}

In [15]:
salmon_prawn_risotto = {'id': 52823,
                        'ings': [336, 4, 26, 14, 115, 731, 465]}

In [16]:
honey_teryaki_salmon = {'id': 52773,
                        'ings': [3, 10, 373, 380, 415, 105]}

In [17]:
f1 = {'id': 52777,
                        'ings': [709, 81, 487, 490, 722, 723, 428, 291]}

f2 = {'id': 52819,
                        'ings': [83, 727, 711, 177, 335, 451]}

f3 = {'id': 53040,
                                'ings': [86,316, 417, 34, 136, 26, 731]}

f4 = {'id': 52975,
                'ings': [727, 703, 720, 401, 723, 138]}

f5 = {'id': 52936,
                'ings': [12, 96, 315, 709, 373, 713, 36, 428]}



m1 = {'id': 52770,
                    'ings': [74, 179, 108, 114, 575, 373, 421]}
m2 = {'id': 52826,
                    'ings': [609, 460, 435, 212, 55, 85, 34, 731, ] }
m3 = {'id': 52834,
                'ings': [315, 114, 669, 138, 623, 162]}
m4 = {'id': 52803,
                    'ings': [379, 653, 667, 315, 121]}


v1 = {'id': 53047, 
                        'ings': [265, 708, 340, 715, 727]}
v2 = {'id': 52771,
                        'ings': [116, 70, 81, 85, 715, 744]}
v3 = {'id': 53026,
        'ings': [208, 316, 428, 51]}
v4 = {'id': 52906,
            'ings': [427, 428, 349, 377]}
v5 = {'id': 52811,
            'ings': [429, 731, 242, 744, 89, 421]}

In [18]:
meat_list=[chicken_alfredo, tandoori_chicken, thai_green_curry, 
           piri_piri_chicken_and_slaw, chicken_marengo, chicken_couscous, m1, m2, m3, m4]

In [19]:
fish_list=[salmon_avocado_salad, grilled_portuguese_sardines, kung_pow_prawn, 
           salmon_prawn_risotto, honey_teryaki_salmon, f1, f2, f3, f4, f5]

In [20]:
veggie_list=[ratatouille, spinach_ricotta_canneloni, tahini_lentils, vegetarian_cassarole, 
             vegetarian_chilli, v1, v2, v3, v4, v5]

In [21]:
import numpy as np
import pandas as pd
import requests

In [22]:
meat_db=pd.DataFrame(meat_list)
fish_db=pd.DataFrame(fish_list)
veggie_db=pd.DataFrame(veggie_list)

In [23]:
veggie_db

      id                                         ings
0  52908                     [720, 731, 81, 709, 713]
1  52849  [462, 420, 121, 51, 709, 308, 81, 373, 731]
2  52869               [727, 713, 720, 322, 323, 389]
3  52863      [323, 709, 708, 715, 731, 713, 115, 89]
4  52867                           [747, 34, 87, 709]
5  53047                    [265, 708, 340, 715, 727]
6  52771                  [116, 70, 81, 85, 715, 744]
7  53026                          [208, 316, 428, 51]
8  52906                         [427, 428, 349, 377]
9  52811                [429, 731, 242, 744, 89, 421]

In [ ]:
      #  url='http://www.themealdb.com/api/json/v1/1/lookup.php'
       # response = requests.get(url, params={'i':idM})
        #print(response.status_code)
#
 #       dict=response.json()['meals'][0] #dicionario desta meal
  #      dict['ings'] = [dict[k] for k in list(dict.keys())[9:29] if dict[k]] #acrescenta key-value dos ingredientes

In [23]:
db=meat_db

db['name']=np.zeros((len(db),1))
db['ingsM']=np.zeros((len(db),1))

for c in range(len(db)):
    
    idM=db['id'][c]
    
    url='http://www.themealdb.com/api/json/v1/1/lookup.php'
    response=requests.get(url, params={'i':idM})
    
    dict=response.json()['meals'][0] #dicionario desta meal
    
    db['name'][c]=dict['strMeal']
    
    db['ingsM'][c]=[dict[k] for k in list(dict.keys())[9:29] if dict[k]]

/var/folders/tx/jymtlyn96zb0qj_hvpjlfm5r0000gn/T/ipykernel_2198/4084733670.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['name'][c]=dict['strMeal']
/Users/anamatias/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/var/folders/tx/jymtlyn96zb0qj_hvpjlfm5r0000gn/T/ipykernel_2198/4084733670.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['ingsM'][c]=[dict[k] for k in list(dict.keys())[9:29] if dict[k]]

In [24]:
meat_db

,id,ings,name,ingsM
0,52796,"[465, 728, 731, 86, 182, 461, 287, 56, 382, 15...",Chicken Alfredo Primavera,"[Butter, Olive Oil, Chicken, Salt, Squash, Bro..."
1,52806,"[727, 460, 531, 208, 88, 501, 85]",Tandoori chicken,"[lemons, paprika, red onions, chicken thighs, ..."
2,52814,"[597, 86, 209, 727, 531, 287, 389]",Thai Green Curry,"[potatoes, green beans, sunflower oil, garlic,..."
3,53039,"[535, 460, 306, 372, 723, 85, 177, 708]",Piri-piri chicken and slaw,"[Chicken, Red Chilli, Garlic, Ginger, Dried Or..."
4,52920,"[373, 511, 290, 113, 210]",Chicken Marengo,"[Olive Oil, Mushrooms, Chicken Legs, Passata, ..."
5,52850,"[242, 88, 351, 340, 601, 635, 737]",Chicken Couscous,"[Olive Oil, Onion, Chicken Breast, Ginger, Har..."
6,52770,"[74, 179, 108, 114, 575, 373, 421]",Spaghetti Bolognese,"[onions, olive oil, garlic, lean minced beef, ..."
7,52826,"[609, 460, 435, 212, 55, 85, 34, 731]",Braised Beef Chilli,"[Beef, Onions, Garlic, Olive oil, Chorizo, Cum..."
8,52834,"[315, 114, 669, 138, 623, 162]",Beef stroganoff,"[Olive Oil, Onions, Garlic, Butter, Mushrooms,..."
9,52803,"[379, 653, 667, 315, 121]",Beef Wellington,"[mushrooms, English Mustard, Olive Oil, Beef F..."

In [25]:
meat_db.to_csv('meat_db')

In [26]:
veggie_db

      id                                         ings
0  52908                     [720, 731, 81, 709, 713]
1  52849  [462, 420, 121, 51, 709, 308, 81, 373, 731]
2  52869               [727, 713, 720, 322, 323, 389]
3  52863      [323, 709, 708, 715, 731, 713, 115, 89]
4  52867                           [747, 34, 87, 709]
5  53047                    [265, 708, 340, 715, 727]
6  52771                  [116, 70, 81, 85, 715, 744]
7  53026                          [208, 316, 428, 51]
8  52906                         [427, 428, 349, 377]
9  52811                [429, 731, 242, 744, 89, 421]

In [27]:
aldi_db

NameError: name 'aldi_db' is not defined

In [31]:
type(veggie_db['ings'][4][3])

int